:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-gold: #d4af37;
  --color-dark-gold: #6b5818;
  --color-transparent: transparent;

  /* Font size */
  --font-large: 30px;
  --font-medium: 18px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --box-size: 150px;
  --border-radius: 5px;

  /* time */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
  word-break: keep-all;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: var(--color-black);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

h1,
h2,
ul,
li,
p,
img {
  margin: 0;
  padding: 0;
  text-align: center;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-gold);
  outline: none;
  font-size: var(--font-medium);
}

li {
  list-style: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-gold);
  margin: 32px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-gold);
  margin: 16px 0;
}

p {
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  color: var(--color-gold);
  margin: 8px 0;
}

img {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-gold);
}

/* section */
.section__container {
  padding: 5% 7.5%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 100px auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  transition: all 0.8s ease-in-out;
}

.active {
  opacity: 1;
}

/* navbar */
#navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: var(--color-transparent);
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--non-transparent {
  background-color: var(--color-dark-grey);
}

.navbar__menu {
  position: absolute;
  display: flex;
  top: 30px;
  width: 100vw;
  background-color: var(--color-black);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.navbar__menu.open {
  display: flex;
  opacity: 1;
  transition: all var(--animation-duration) ease-in-out;
}

.navbar__menu.open.anim-out {
  opacity: 0;
  transform: scale(1) translateY(-20px);
}

.navbar__menu button {
  width: 99vw;
  padding: 5px 0;
  color: var(--color-gold);
  border: 1px solid var(--color-transparent);
  transition: all var(--animation-duration) ease-in-out;
}

.navbar__menu button:hover {
  border: 1px solid var(--color-gold);
  border-radius: 4px;
}

.navbar__toggle i {
  font-size: 25px;
  line-height: 30px;
  padding: 0 10px;
}

/* cube */

.img-container {
  width: var(--box-size);
  position: relative;
  margin: auto;
  margin-bottom: calc(var(--box-size) / 10);
}

.landing {
  width: var(--box-size);
}

.landing__logo,
.landing__logo-description {
  width: calc(var(--box-size));
  display: block;
  margin: auto;
}

.cube {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--box-size);
  height: var(--box-size);
  transform-style: preserve-3d;
  opacity: 0;
  transition: opacity 2s;
}

.landing__logo,
.landing__logo-description {
  width: calc(var(--box-size));
  display: block;
  margin: auto;
}

.cube-face {
  width: inherit;
  height: inherit;
  /* transition: 10s; */
  box-shadow: 0 0 calc(var(--box-size) * 1) var(--color-gold);
}

.cube > div {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 2%;
  background-color: var(--color-transparent);
}

.front {
  transform: translateZ(calc(var(--box-size) * 0.5));
}

.back {
  transform: rotateY(180deg) translateZ(calc(var(--box-size) * 0.5));
}

.left {
  transform: rotatey(-90deg) translateZ(calc(var(--box-size) * 0.5));
}

.right {
  transform: rotatey(90deg) translatez(calc(var(--box-size) * 0.5));
}

.top {
  transform: rotatex(90deg) translateZ(calc(var(--box-size) * 0.5));
}

.bottom {
  transform: rotatex(-90deg) translateZ(calc(var(--box-size) * 0.5));
}

#home:hover .cube {
  animation: rotate 50s linear;
  opacity: 1;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }

  50% {
    transform: rotateY(2deg) rotateX(2deg);
  }

  100% {
    transform: rotateY(1deg) rotateX(1deg);
  }
}

/* home */
#home {
  background-color: var(--color-black);
}

/* servey */
#servey {
  background-color: var(--color-black);
}

#servey .section__container {
  height: 100vh;
  margin: auto;
  opacity: 1;
  padding: 0;
}

/* intro */
#intro {
  background-color: var(--color-white);
}

/* first */
#first {
  background-color: var(--color--black);
}

/* second */
#second {
  background-color: var(--color-white);
}

/* third */
#third {
  background-color: var(--color--black);
}

/* footer */
#footer {
  padding: 7.5%;
  background-color: var(--color-black);
}

#footer p {
  margin-bottom: 0;
}
